// home.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Zoom
  body
    header
      h1 Chat Service
    main
      form#nickname 
        input(type="text", placeholder="Please set your nickname", required)
        button Save
      ul
      form#message
        input(type="text", placeholder="Please write a message", required)
        button Send
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")