doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Zoom
  body
    header
      h1 Live Chat Service
    main
      div#openPublicRoom
        h2 Available Rooms
        ul
          li 🚪
      div#nickname
        form
          h2 Set a Nickname
          input(type="text", placeholder="Please enter your nicknamee", required, autofocus)
          button Save
      div#room
        form
          h2 Enter a Room
          input(type="text", placeholder="Please type Room name", required)
          button Enter the Room
      div#chat
        h2 Room Name
        ul
        form
          input(type="text", placeholder="You can type here", required)
          button Send
      div#video
        h2 Video Chat
        video#myFace(autoplay, playsinline, width="400", height="400")
        button#audioMute Mute
        button#cameraOff Camera Off

    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js")
